:host {
    .graph-container {
        min-height: 900px;
        width: 100%;
    }

    .ngx-graph {
        min-height: 900px;
        width: 100%;
    }

    .selectedNode {
        min-height: 300px;
        width: 100%;
    }


}

